@import "../../Styles/Index.scss";

.card {
    // max-width: 50vh;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 24rem;
    margin-bottom: 1rem;

    .image-section {
        display: flex;
        flex-basis: 13rem;
        overflow: hidden;
        border: 1px solid;

        .loaded {
            filter: blur(0);
        }

        img {
            transition: all 0.4s;
            filter: blur(100px);
            overflow: hidden;
            height: 100%;
            width: 100%;
            object-fit: cover;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            font-size: 19px;
            font-weight: 400;
        }

        .buttons {
            font-size: 21px;
            display: flex;
        }
    }
}