.work {
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        height: 70vh;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
}